body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #EEEEEE;
    font-size: 20px;
}

button+button {
    margin-left: 5px;
}

button:hover {
    background-color: #DDDDDD;
}

button:active {
    background-color: #CCCCCC;
}

#article-container {
    border: 2px solid green;
    height: 100px;
    width: 70%;
    margin: 5px;
    display: flex;
    overflow-y: scroll;
}